<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        .material-icons.md-48 { font-size: 48px;}
        .material-icons.md-24 { font-size: 24px;}
    </style>

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

  <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <a href="#" class="navbar-brand">
          <i class="material-icons material-icons md-48 text-light">wysiwyg</i>
      </a>
      <div class="collapse navbar-collapse justify-content-between">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-light text-uppercase" href="{% url 'com_all' %}">Компании</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light text-uppercase" href="{% url 'pro_all' %}">Проекты</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-light text-uppercase" href="{% url 'mes_all' %}">События</a>
              </li>
              {% if request.user.is_authenticated and request.user.first_name %}
                  <li class="nav-item">
                      <span class="nav-link text-light text-uppercase">Welcome!
                          <i class="material-icons cart-icon">account_circle</i>
                      </span>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link text-light text-uppercase">Sign Out.
                          <i class="material-icons cart-icon">exit_to_app</i>
                      </a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link text-light text-uppercase" href="{% url 'signup' %}">Sign Up.
                          <i class="material-icons cart-icon">add</i>
                      </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link text-light text-uppercase" href="{% url 'login' %}">Log in.
                          <i class="material-icons cart-icon">login</i>
                      </a>
                  </li>
              {% endif %}

          </ul>
      </div>

          <form class="form-inline">
              <div class="input-group">
                  <input type="text" placeholder="Search">
                  <div>
                      <button><i class="material-icons md-24">search</i></button>
                  </div>
              </div>
          </form>
  </nav>

  {% block content %}

  {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>