{% extends 'base.html'%}
{% block title %}
    {{ object.name }}
{% endblock %}
{% block content %}
<div>Название компании: {{ object.name }}</div>
<div>Контактное лицо: {{ object.leader }}</div>
<div>Инфо: {{ object.info | safe }}</div>
<div>Адресс: {{ object.address }}</div>
<div>Признак активности: {{ object.is_active }}</div>
<div>Телефоны:
    {% for phone in object.companies_phones.all %}
        <div> {{ phone.phone }} </div>
    {% endfor %}
</div>
<div>Электронная почта:
    {% for email in object.companies_emails.all %}
        <div> {{ email.email }} </div>
    {% endfor %}
</div>
<div>Создание записи: {{ object.created_at }}</div>
<div>Обновление записи: {{ object.updated_at }}</div>
    <a href="{% url 'pro_edit' object.slug  %}">Изменить</a>
<div class="container">Проекты компании:
    <table class="table nowrap">
  <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Дата начала</th>
        <th scope="col">Дата окончания</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Дата изменения</th>
    </tr>
  </thead>
  <tbody>
    {% for project in object.companies_projects.all %}
    <tr>
        <td><a href ="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
        <td>{{ project.description | safe}}</td>
        <td>{{ project.date_begin }}</td>
        <td>{{ project.date_end }}</td>
        <td>{{ project.price }}</td>
        <td>{{ project.created_at }}</td>
        <td>{{ project.updated_at }}</td>
    </tr>
    {% endfor %}

  </tbody>
    </table>
</div>
{% endblock %}
