{% extends 'base.html'%}
{% load static %}
{% block title %}
    Companies
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-1 mt-2 ">
                <a href="{% url 'com_add' %}"><i class="image-fuild material-icons material-icons md-48">add_circle</i></a>
            </div>

            <div class="col-11">
                <table class="table nowrap">
                <thead>
                <tr class="text-center">
                    <th scope="col" class="col-1">Название</th>
                    <th scope="col" class="col-1">ФИО</th>
                    <th scope="col" class="col-5">Описание</th>
                    <th scope="col" class="col-2">Адрес</th>
                    <th scope="col" class="col-3">Телефон</th>
                    <th scope="col" class="col-3">E-mail</th>
                    <th scope="col" class="col-2">Дата создания</th>
                    <th scope="col" class="col-2">Дата изменения</th>
                </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        <td class="text-center"><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
                        <td class="text-center">{{ company.leader }}</td>
                        <td>{{ company.info | safe }}</td>
                        <td class="text-center">{{ company.address }}</td>
                        <td>
                            {% for phone in company.companies_phones.all %}
                                <div class="text-center">
                                    {{ phone }}
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% for email in company.companies_emails.all %}
                                <div class="text-center">
                                    {{ email }}
                                </div>
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ company.created_at }}</td>
                        <td class="text-center">{{ company.updated_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>

        <div class="col-3 mx-auto stretch-card">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-text mb-2">Фильтры и сортировка</h5>
                    <form method="get" class="form">
                        {{ filter.form.as_p }}
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">
                                    Подтвердить
                                </button>
                            </div>

                    </form>
                </div>
            </div>
        </div>

        </div>
    </div>
    {% include 'paginations.html' %}


{% endblock %}
