{% extends 'base.html'%}
{% load static %}
{% block title %}
    Company Form
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form method="post" class="col-8 mx-auto ">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h4>{{ title }}</h4>
                </div>
                <div class="card">
                    {{ form.non_form_errors }}
                    {{ form.media }}
                    {{ form.as_p }}
                <div class="row">
                <div class="card-group">
                    <div class="card text-center mb-5">
                        <div class="card-body">
                            <h5>Почта компании</h5>
                            {{ companyEmailInlineFormset.non_form_errors }}
                            {{ companyEmailInlineFormset.management_form }}
                            {% for form in companyEmailInlineFormset %}
                                <div class="d-flex py-1 inline">
                                    <div class="mx-auto">{{ form.as_p }} </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card text-center mb-5">
                        <div clas="card-body">
                            <h5 class="mt-3">Телефоны компании</h5>
                        {{ companyPhoneInlineFormset.non_form_errors }}
                        {{ companyPhoneInlineFormset.management_form }}
                        {% for form in companyPhoneInlineFormset %}
                            <div class="d-flex py-1 inline">
                                <div class="mx-auto">{{ form.as_p }} </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                </div>
                    </div>
            </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-dark">Сохранить</button>
            {% if update %}
                <button class="btn btn-dark px-5">Отмена</button>
            {% endif %}
        </div>
        </form>
    </div>
{% endblock %}
