{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Log in
{% endblock %}
{% block content %}

    <div class="container">
        <br>
        <h1 class="product_title text-center">
            Log in
        </h1>
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light mx-auto">
                <div>
                    <br>
                    <form method="post">
                        {% csrf_token %}

                        {{ form.non_form_errors }}
                        {{ form.as_p }}
                        <div class="mx-auto">
                            <button type='submit' class="btn btn-secondary">Log in</button>
                            <br>
                            <span class="mx-auto">Нет учетной записи?</span>
                            <br>
                            <a href="{% url 'signup' %}" class="text-muted text-center">Зарегестрироваться</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}