{% extends 'base.html'%}
{% load static %}
{% block title %}
    Messages
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-1 mt-2 ">
                <a href="{% url 'mes_add' %}"><i class="image-fuild material-icons material-icons md-48">add_circle</i></a>
            </div>

            <div class="col-11">
                <table class="table nowrap">
                <thead>
                <tr class="text-center">
                    <th scope="col" class="col-1">Тема</th>
                    <th scope="col" class="col-1">Проект</th>
                    <th scope="col" class="col-5">Тип</th>
                    <th scope="col" class="col-2">Текст</th>
                    <th scope="col" class="col-2">Дата создания</th>
                    <th scope="col" class="col-2">Дата изменения</th>
                </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr>
                        <td class="text-center"><a href="{{ message.get_absolute_url }}">{{ message.tittle }}</a></td>
                        <td class="text-center"><a href="{{ message.project.get_absolute_url }}">{{ message.project }}</a></td>
                        <td class="text-center">{{ message.type}}</td>
                        <td class="text-center">{{ message.text | safe }}</td>
                        <td class="text-center">{{ message.created_at }}</td>
                        <td class="text-center">{{ message.updated_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>

        </div>
    </div>
    {% include 'paginations.html' %}


{% endblock %}
