{% extends 'base.html'%}

{% block title %}
    Messages Detail
{% endblock %}

{% block content %}
    <div>Название сообщение: {{ object.tittle }}</div>
    <div>Название проекта: {{ object.project | safe}}</div>
    <div>Тип взаимодействия: {{ object.type }}</div>
    <div>Текст сообщение: {{ object.text | safe }}</div>
    <div>Создано: {{ object.created_at }}</div>
    <div>Обновлено: {{ object.updated_at }}</div>
    <a href="{% url 'mes_edit' object.slug  %}">Изменить</a>

{% endblock %}
