{% extends 'base.html'%}
{% load static %}
{% block title %}
    Project Page
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form method="post" class="col-8 mx-auto">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h4>{{ tittle }}</h4>
                </div>
                {{ form.non_form_errors }}
                <div class="card">
                    {{ form.media }}
                    {{ form.as_p }}
                </div>
            </div>
            <div class="mt-3 mb-5">
                <button type="submit" class="px-5 btn btn-dark">Принять</button>
                {% if update %}
                    <button class="btn btn-dark px-5">Отмена</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
