{% extends 'base.html'%}

{% block title %}
     Page
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1 mt-2">
            <a href="{% url 'pro_add' %}"><i class="material-icons material-icons md-48">add_circle</i></a>
        </div>
        <div class="col-11">
            <table class="table nowrap">
              <thead>
              <tr class="text-center">
                  <th scope="col" class="col-1">Название</th>
                  <th scope="col" class="col-1">Компания</th>
                  <th scope="col" class="col-5">Описание</th>
                  <th scope="col" class="col-3">Дата начала</th>
                  <th scope="col" class="col-3">Дата окончания</th>
                  <th scope="col" class="col-3">Стоимость</th>
                  <th scope="col" class="col-3">Дата создания</th>
                  <th scope="col" class="col-3">Дата изменения</th>
              </tr>
              </thead>
              <tbody>
              {% for project in projects %}
                  <tr>
                      <td class="text-center"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                      <td class="text-center">{{ project.company.name }}</td>
                      <td>{{ project.description | safe }}</td>
                      <td class="text-center">{{ project.date_begin }}</td>
                      <td class="text-center">{{ project.date_end }}</td>
                      <td class="text-center">{{ project.price }}</td>
                      <td class="text-center">{{ project.created_at }}</td>
                      <td class="text-center">{{ project.updated_at }}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    {% include 'paginations.html' %}
    </div>
</div>
{% endblock %}

