{% extends 'base.html'%}

{% block title %}
{{ object.name}}
{% endblock %}

{% block content %}
    <div>Название проекта: {{ object.name }}</div>
    <div>Описание: {{ object.description | safe}}</div>
    <div>Дата начала: {{ object.date_begin }}</div>
    <div>Дата окончания: {{ object.date_end }}</div>
    <div>Стоимость: {{ object.price }}</div>
    <div>Дата создания записи: {{ object.created_at }}</div>
    <div>Дата обновление записи: {{ object.updated_at }}</div>
    <a href="{% url 'pro_edit' object.slug  %}">Изменить проект</a>

    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <h1>События</h1>
                {% for message in object.projects_massage.all %}
                <div class="comment mt-4 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>Тема: <a href="{{ message.get_absolute_url }}">{{ message.tittle }}</a></h4><br>
                    <p>Тип: {{ message.type}}</p>
                    <p>Описание: {{ message.text | safe}}</p>
                    <span>Cоздано - {{ message.created_at }}</span><br>
                    <span>Обновлено - {{ message.updated_at }}</span>
                </div>
                {% endfor %}
            </div>


            </div>
        </div>
{% endblock %}
