body {
    background: #F8F8F8
}

.company_name {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom:10px;
}

.errorlist li {
    color: red;
    font-weight: bold;
}

.custom_div {
    margin-bottom: 20px !important;
}

.company_leader {

}

.company_info {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.company_address {

}

.company_phone {

}

.company_email {

}

.company_created {

}

.company_updated {

}

.company_is_active {

}